.App {
    text-align: center;
    align-items: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 80px;
    padding: 20px;
    color: white;
    
  }
  
  .App-title {
    margin-top: 0;
    font-size: 20px;
    padding:10px;
  }
  
  .App-intro {
    font-size: large;
    padding-top: 0px;
    
  }
  
  .App-vaccine {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 10;
    text-align: left;
  }
  
  .align {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .btn {
    margin: 20px;
  }
  
  .tab {
    padding-left: 15pc;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  